
#greetingScreen{
    position: absolute;
    left: 30%;
    top: 20%;
}

#auth{
    position: absolute;
    left: 42%;
    top: 40%;
}
#auth .button{
    margin-right: 5%;
}
.accessDir{
    position: relative;
    left: 20%;
}
#header{
    position: absolute;
    left: 10%;
    color:  #66ccff;
}
#navbarRightPart{
    position: relative;
    left: 50%;
}
.nav-link{
    font-family: 'Almarai', sans-serif;
    color: black;
    font-size: 140%;
}
.nav-item{
    margin-right: 20px;
}
#body{
    position: absolute;
    top: 20%;
    left: 10%;
}
#bodyHeading{
    position: relative;
    left: 25%;
}
.bodyHeadingDiscription{
    position: relative;
    font-size: 150%;
    left: 53%;
    font-weight: 100;
}

#card2{
    position: absolute;
    left: 40.3%;
    top: 30.5%;
}
#card3{
    position:absolute;
    left: 100%;
    top: 30.5%;
}
#level-2-row2{
    position: absolute;
    top: 35%;
    left: 42%;
}
ul{
    list-style: none;
}
/* Switch on off css starts */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
/* switch on off css ends */