<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>Message:</strong>{{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
        <span aria-hidden="true">&times;</span>
    </div>
    {% endfor %}
    
    <h1>Sign up</h1>
    <form action="/signup" method="post">
    {% csrf_token %}
        <label for="">Username</label><br>
        <input type="text" id="username" name="username" placeholder="Create a User Name" required/><br>
        <label for="">Name</label><br>
        <input type="text" id="name" name="name" placeholder="Enter Name" required/><br>
        <label for="">Email Address</label><br>
        <input type="email" id="email" name="email" placeholder="Enter Email" required/><br>
        <label for="">Password</label><br>
        <input type="password" id="pass1" name="pass1" placeholder="Create a Password" required/><br>
        <label for="">Confirm Password</label><br>
        <input type="password" id="pass2" name="pass2" placeholder="Re-Enter Password" required/><br>
        <label for="">Special Key</label><br>
        <input type="password" id="specialKey" name="specialKey" placeholder="Enter the Special Key" /><br><br>
        <button type="submit">Sign Up</button>
    </form>
</body>
</html>